@charset "UTF-8";
/*------VARIABLES-------*/
#principal {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px; }
  #principal .contenido_principal {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 80%;
    flex-basis: 70%;
    margin-left: 40px; }
  #principal .platillo {
    flex-grow: 1;
    flex-basis: 12rem;
    height: 35vh;
    border: 2px solid orangered;
    margin: 2rem;
    box-shadow: 1px 1px 2px solid #ddd;
    background: white;
    cursor: pointer;
    transition: all 600ms; }
    #principal .platillo:hover {
      background: black;
      animation-name: tama単o;
      animation-duration: 1.5s;
      animation-timing-function: linear; }

@keyframes tama単o {
  0% {
    flex-basis: 12rem; }
  50% {
    flex-basis: 13rem; }
  100% {
    flex-basis: 12rem;
    border: 3px solid yellow; } }
    #principal .platillo h2 {
      font-size: 24px;
      color: #e42121;
      text-shadow: 1px 1px 3px black;
      text-align: center;
      height: 7vh;
      transition: all 300ms; }
      #principal .platillo h2:hover {
        color: orange; }
    #principal .platillo .images__platillos {
      width: 95%;
      height: 20vh;
      transition: all 300ms;
      padding: 6px; }

#lateral {
  display: flex;
  flex-basis: 25%;
  margin: 20px;
  width: 100%;
  height: 125vh;
  flex-flow: column wrap;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eee;
  margin-right: 2rem; }
  #lateral .form__title {
    width: auto;
    height: 3rem;
    background-color: #ccc;
    box-shadow: 0px 1px 0px #393d3f, 1px 2px 0px #393d3f, 2px 3px 0px #393d3f, 3px 4px 0px #393d3f;
    font-size: 25px;
    font-family: 'Bebas Neue';
    font-weight: normal;
    letter-spacing: 2px;
    padding-left: 15px;
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center; }
    #lateral .form__title h3 {
      margin-top: 10px; }
  #lateral .busqueda {
    width: 98%;
    height: 30px;
    margin: 10px auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #ccc inset; }
  #lateral input[type="text"] {
    width: 98%;
    height: 30px;
    border: none;
    padding-left: 5px;
    border-radius: 5px;
    background-color: transparent;
    color: #ccc;
    transition: all 300ms; }
    #lateral input[type="text"]:focus {
      color: #555; }
  #lateral input[type="submit"] {
    height: 30px;
    cursor: pointer;
    font-size: 16px;
    background-color: transparent;
    border: none;
    border-left: 1px solid #ccc;
    color: #555;
    padding-left: 6px; }
  #lateral .aside-box {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 35vh;
    margin: 0px auto;
    margin-top: 20px;
    padding-top: 2px;
    background: #eee;
    border: 1px solid black;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.3), 0px 1px white inset, 0px -3px 2px rgba(0, 0, 0, 0.3) inset; }
  #lateral #login a {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    font-size: 15px;
    text-decoration: none;
    margin-left: 1rem;
    color: #555;
    margin-top: 10px;
    width: 84%; }
    #lateral #login a:hover {
      text-decoration: underline;
      color: red; }
  #lateral #login input[type="email"],
  #lateral #login input[type="password"] {
    display: flex;
    margin: 0px auto;
    width: 82%;
    height: 30px;
    margin-top: 20px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #ccc inset;
    border-radius: 5px;
    padding-left: 30px;
    color: gray; }
    #lateral #login input[type="email"]:focus,
    #lateral #login input[type="password"]:focus {
      color: #555;
      box-shadow: 1px 1px 1px gray inset; }
  #lateral #login input[type="reset"],
  #lateral #login input[type="submit"] {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 35px;
    margin-top: 20px;
    color: white;
    background: linear-gradient(to bottom, #eee 0%, orangered 100%);
    border: 1px solid orangered;
    border-radius: 0px;
    cursor: pointer;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin-bottom: 20px;
    transition: all 300ms; }
    #lateral #login input[type="reset"]:hover,
    #lateral #login input[type="submit"]:hover {
      box-shadow: 0px 0px 3px gray; }
  #lateral #social {
    height: 35vh; }
    #lateral #social a {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      color: black;
      text-decoration: none;
      font-size: 15px;
      text-shadow: 2px 2px 3px #ccc;
      margin-left: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
      font-style: italic;
      font-family: 'Bebas Neue'; }
    #lateral #social .image__social {
      height: 5vh;
      width: 3rem;
      border-radius: 900px; }
    #lateral #social .image__social--facebook {
      height: 6vh; }

#pie__pagina {
  display: grid;
  grid-template-columns: 1fr 25%;
  align-items: center;
  justify-content: start;
  height: 120px;
  border-top: 1px solid rgba(225, 225, 226, 0.8);
  background-color: orangered; }
  #pie__pagina .bibliografia {
    text-align: left;
    margin-right: 20px; }
    #pie__pagina .bibliografia .bibliografia__info {
      font-family: Helvetica;
      font-style: italic;
      font-weight: 900px;
      font-size: 20px;
      padding: 10px;
      margin-left: 20px;
      color: black;
      text-shadow: 1px 1px 0px #ccc;
      text-transform: uppercase;
      text-align: left;
      margin-right: 20px; }

* {
  margin: 0;
  padding: 0; }

body {
  background-image: url("../images/carne4.jpg");
  background-attachment: fixed;
  background-size: 100%; }

#contenedor {
  width: 90%;
  height: auto;
  margin: 0px auto;
  border: 1px solid rgba(225, 225, 226, 0.8);
  box-shadow: 0px 0px 10px #ccc;
  margin-top: 40px;
  margin-bottom: 40px;
  min-height: 600px; }

#header {
  display: grid;
  grid-template-columns: 65% 30%;
  align-items: center;
  width: 100%;
  height: 12vh;
  border-bottom: 1px solid rgba(225, 225, 226, 0.8);
  background-color: black;
  font-family: 'Bebas Neue'; }
  #header .cabecera__header {
    font-family: Helvetica;
    font-style: italic;
    font-weight: 900px;
    font-size: 35px;
    padding: 15px;
    margin-left: 20px;
    color: #eee;
    text-shadow: 1px 1px 0px #ccc;
    text-transform: uppercase;
    transition: all 300ms; }
    #header .cabecera__header .header__titulo {
      font-family: Helvetica;
      font-style: italic;
      font-weight: 900px;
      font-size: 35px;
      transition: all 300ms;
      display: block; }
      #header .cabecera__header .header__titulo:hover {
        transition: all 300ms;
        color: orangered; }
  #header #menu {
    text-align: center;
    width: 100%;
    height: 100%; }
    #header #menu .elementos__menu {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      list-style: none;
      height: 100%;
      align-items: center;
      justify-content: center; }
    #header #menu .menu__link {
      color: white;
      display: block;
      text-decoration: none;
      transition: all 200ms;
      font-size: 16px;
      padding: 10px; }
      #header #menu .menu__link img {
        width: 45px;
        height: 45px;
        border-radius: 1250px; }
      #header #menu .menu__link:hover {
        color: red;
        transform: scale(1.2, 1.2); }

        /*--------------------------PUNTOS DE CORTE INDEX------------------------------------*/

@media(max-width:1822px){
  #header{
  grid-template-columns: 100%;
  padding-bottom: 15px;
  }
              
  .cabecera__header .header__titulo{
  font-size: 20px;
  text-align: center;
  }
          
  }
          
  
  @media(max-width:1430px){
  .platillo{
  flex-grow: 1;
  flex-basis: 16rem;
        
  }
  
  @keyframes tama単o {
      0%{flex-basis: 16rem;}50%{flex-basis: 17rem;}100%{ flex-basis: 16rem; border:3px solid yellow;}
      }
  
  
  }
  
  @media(max-width:1420px){
      
  #pie__pagina{
  grid-template-columns: 1fr 35%;
  }
      
  .bibliografia__info{
  font-size: 18px;
  }
          
  #multimedia{
  grid-template-columns: repeat(2, 40%);
  grid-template-rows: 200px 200px;
  }
      
  }
      
  
  @media(max-width:1257px){
  .platillo h2{
  font-size: 25px;
  }
  
  }
  
  @media(max-width:1175px){
  .contenido_principal{
  flex-basis: 60%;
  }
      
  #lateral{
  flex-basis: 30%;
  }
      
  .platillo .images__platillos {
  height: 27vh;
  padding: 1rem;
  width: 85%;
  padding-left:30px;
  margin: 10px;
  }
      
  .platillo{
  margin-bottom: 47px;
  }
  
  @keyframes tama単o {
  0%{height: 35vh;}50%{height:36vh}100%{ height: 35vh; border:3px solid yellow;}
  }
      
  }
  
  @media(max-width:1000px){
  
  #principal{
  flex-direction: column;
  }
  
  #lateral{
  order: 1;
  margin-left: 5rem;
  width: 85%;
  }
   
  .contenido_principal{
  order: 2;
  flex-flow: column wrap;
  }
          
  .platillo .images__platillos {
  height: 25vh;
  width: 60vw;
  }
  
  .platillo{
  width: 98%;
  }
  
  }
  
  @media(max-width:915px){
  #menu .menu__item {
  font-size: 12px;
  }
  
  #lateral{
  width: 80%;
  }
  
  }
  
  @media(max-width:764px){
  #pie__pagina {
  grid-template-columns: 1fr;
  }
  
  .bibliografia__info{
  margin-left: 90px;
  }
  
  #multimedia {
  grid-template-columns: 60%;
  grid-template-rows: 200px;
  flex-wrap: 25px;
  padding-top: 25px;
  }
  
  #lateral{
  width: 75%;
  }
  }
  
  @media(max-width:546px){
  
  #menu .elementos__menu{
  grid-template-columns: 20% 20% 20% 20% 20%;
  }
  
  #menu .menu__item {
  font-size: 10px;
  }
  
  .bibliografia__info {
  font-size: 14px;
  }
  
  }
  
  