@charset "UTF-8";
/*------VARIABLES-------*/
/*---------------------------------------TARGETAS DEL INGDES(PLATILLOS)----------------------------*/
#principal {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px; }
  #principal .contenido_principal {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 80%;
    flex-basis: 70%;
    margin-left: 40px; }
  #principal .platillo {
    flex-grow: 1;
    flex-basis: 12rem;
    height: 35vh;
    border: 2px solid orangered;
    margin: 2rem;
    box-shadow: 1px 1px 2px solid #ddd;
    background: white;
    cursor: pointer;
    transition: all 600ms; }
    #principal .platillo:hover {
      background: black;
      animation-name: tamaño;
      animation-duration: 1.5s;
      animation-timing-function: linear; }

@keyframes tamaño {
  0% {
    height: 35vh; }
  50% {
    height: 36vh; }
  100% {
    height: 35vh;
    border: 3px solid yellow; } }
    #principal .platillo h2 {
      font-size: 24px;
      color: #df4e19;
      text-shadow: 1px 1px 3px black;
      text-align: center;
      height: 7vh;
      transition: all 300ms; }
      #principal .platillo h2:hover {
        color: orange; }
    #principal .platillo .images__platillos {
      width: 95%;
      height: 20vh;
      transition: all 300ms;
      padding: 6px; }

/*---------------------------------------BARRA LATERAL----------------------------*/
#lateral {
  display: flex;
  flex-basis: 25%;
  margin: 20px;
  width: 100%;
  height: 65vh;
  flex-flow: column wrap;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ccc;
  margin-right: 2rem; }
  #lateral .form__title {
    width: auto;
    height: 3rem;
    background-color: #ccc;
    box-shadow: 0px 1px 0px #393d3f, 1px 2px 0px #393d3f, 2px 3px 0px #393d3f, 3px 4px 0px #393d3f;
    font-size: 25px;
    font-family: 'Bebas Neue';
    font-weight: normal;
    letter-spacing: 2px;
    padding-left: 15px;
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center; }
    #lateral .form__title h3 {
      margin-top: 10px; }
  #lateral .busqueda {
    width: 98%;
    height: 30px;
    margin: 10px auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #ccc inset; }
  #lateral input[type="text"] {
    width: 98%;
    height: 30px;
    border: none;
    padding-left: 5px;
    border-radius: 5px;
    background-color: transparent;
    color: #ccc;
    transition: all 300ms; }
    #lateral input[type="text"]:focus {
      color: #555; }
  #lateral input[type="submit"] {
    height: 30px;
    cursor: pointer;
    font-size: 16px;
    background-color: transparent;
    border: none;
    border-left: 1px solid #ccc;
    color: #555;
    padding-left: 6px; }
  #lateral .aside-box {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 35vh;
    margin: 0px auto;
    margin-top: 20px;
    padding-top: 2px;
    background: #eee;
    border: 1px solid black;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.3), 0px 1px white inset, 0px -3px 2px rgba(0, 0, 0, 0.3) inset; }
  #lateral #login a {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    font-size: 15px;
    text-decoration: none;
    margin-left: 1rem;
    color: #555;
    margin-top: 10px;
    width: 84%; }
    #lateral #login a:hover {
      text-decoration: underline;
      color: red; }
  #lateral #login input[type="email"],
  #lateral #login input[type="password"] {
    display: flex;
    margin: 0px auto;
    width: 82%;
    height: 30px;
    margin-top: 20px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #ccc inset;
    border-radius: 5px;
    padding-left: 30px;
    color: gray; }
    #lateral #login input[type="email"]:focus,
    #lateral #login input[type="password"]:focus {
      color: #555;
      box-shadow: 1px 1px 1px gray inset; }
  #lateral #login input[type="reset"],
  #lateral #login input[type="submit"] {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 35px;
    margin-top: 20px;
    color: white;
    background: linear-gradient(to bottom, #eee 0%, orangered 100%);
    border: 1px solid orangered;
    border-radius: 0px;
    cursor: pointer;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin-bottom: 20px;
    transition: all 300ms; }
    #lateral #login input[type="reset"]:hover,
    #lateral #login input[type="submit"]:hover {
      box-shadow: 0px 0px 3px gray; }

/*---------------------------------------FOOTER----------------------------*/
#pie__pagina {
  display: grid;
  grid-template-columns: 30% 40% 25%;
  align-items: center;
  justify-content: start;
  height: 120px;
  border-top: 1px solid rgba(225, 225, 226, 0.8);
  background: linear-gradient(to bottom, #eee 0%, orangered 100%); }
  #pie__pagina .bibliografia {
    text-align: left;
    margin-right: 20px; }
    #pie__pagina .bibliografia .bibliografia__info {
      font-family: Helvetica;
      font-style: italic;
      font-weight: bold;
      font-size: 15px;
      padding: 10px;
      margin-left: 20px;
      color: black;
      text-shadow: 1px 1px 0px #ccc;
      text-transform: uppercase;
      text-align: left; }
  #pie__pagina #social {
    display: flex;
    flex-direction: row;
    height: 10vh; }
  #pie__pagina .image__social {
    height: 4vh;
    width: 2vw;
    padding: 2rem; }
    #pie__pagina .image__social:hover {
      transform: scale(1.2, 1.2); }
  #pie__pagina .image__social--contacto {
    height: 10vh;
    width: 90px;
    padding: 27px; }
    #pie__pagina .image__social--contacto:hover {
      transform: scale(1.2, 1.2); }

.carrusel-imagenes img {
  height: 70vh;
  padding-top: 2px; }

.contacto-forms {
  background-color: #eee; }

.form-label {
  color: orangered;
  padding-left: 40%; }

.boton-animation:hover {
  animation-name: envio;
  animation-duration: 2s;
  animation-timing-function: linear; }

@keyframes envio {
  0% {
    border-radius: 15px; }
  50% {
    background-color: black; }
  75% {
    border-radius: 25px;
    background-color: red; }
  100% {
    background-color: red; } }

/*--------------------------------------VIDEOS Y FOTOS--------------------------------*/
#multimedia {
  display: grid;
  grid-template-columns: repeat(4, 22%);
  grid-gap: 10px;
  margin-top: 1rem;
  align-items: start;
  justify-content: center; }

.ilustracion {
  margin-bottom: 25px;
  margin-right: 20px; }
  .ilustracion img {
    width: 100%;
    height: 200px;
    border: 4px solid white; }
    .ilustracion img:hover {
      cursor: pointer;
      border: 4px solid orangered; }
  .ilustracion .video {
    width: 100%;
    height: 200px;
    border: 4px solid white; }
    .ilustracion .video:hover {
      border: 4px solid orangered; }

/*-------------------------------------------BLOG------------------------------------*/
#restaurant {
  width: 100%;
  height: 800px;
  background-color: azure;
  margin: 20px; }

.restaurant__nombre {
  font-size: 30px;
  text-align: center; }

.restaurant__local img {
  width: 600px;
  height: 400px;
  padding: 10px;
  padding-left: 35%; }

.restaurant__historia {
  height: 400px;
  width: 100%;
  font-family: Verdana,Tahoma, sans-serif;
  text-indent: 5px; }

/*-------------------------------------------UBICACION------------------------------------*/
.container__ubicacion {
  padding-top: 15px; }
  .container__ubicacion .card-body {
    background-color: black; }
  .container__ubicacion .card-body {
    text-align: center; }
    .container__ubicacion .card-body .info__local {
      color: orangered; }
    .container__ubicacion .card-body .card-title {
      color: white; }

/*---------------------------------------ESTILOS GENERALES----------------------------*/
* {
  margin: 0px;
  padding: 0px; }

body {
  background-color: #444;
  background-attachment: fixed;
  background-size: 100%; }

#contenedor {
  width: 90%;
  height: auto;
  margin: 0px auto;
  border: 1px solid rgba(225, 225, 226, 0.8);
  box-shadow: 0px 0px 10px #ccc;
  margin-top: 40px;
  margin-bottom: 40px;
  min-height: 600px; }

/*---------------------------------------CABECERA----------------------------*/
#header {
  display: grid;
  grid-template-columns: 65% 30%;
  align-items: center;
  width: 100%;
  height: 12vh;
  border-bottom: 1px solid rgba(225, 225, 226, 0.8);
  background-color: black;
  font-family: 'Bebas Neue';
  /*---------------------------------------BARRA DE NAVEGACION----------------------------*/ }
  #header .cabecera__header {
    font-family: Helvetica;
    font-style: italic;
    font-weight: 900px;
    font-size: 35px;
    padding: 15px;
    margin-left: 20px;
    color: #eee;
    text-shadow: 1px 1px 0px #ccc;
    text-transform: uppercase;
    transition: all 300ms; }
    #header .cabecera__header .header__titulo {
      font-family: Helvetica;
      font-style: italic;
      font-weight: 900px;
      font-size: 35px;
      transition: all 300ms;
      display: block; }
      #header .cabecera__header .header__titulo:hover {
        transition: all 300ms;
        color: orangered; }
  #header #menu {
    text-align: center;
    width: 100%;
    height: 100%; }
    #header #menu .elementos__menu {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      list-style: none;
      height: 100%;
      align-items: center;
      justify-content: center; }
    #header #menu .menu__link {
      color: white;
      display: block;
      text-decoration: none;
      transition: all 200ms;
      font-size: 16px;
      padding: 10px; }
      #header #menu .menu__link img {
        width: 45px;
        height: 45px;
        border-radius: 1250px; }
    #header #menu .menu__link--contacto:hover {
      color: #e02f2f; }
    #header #menu .menu__link--ubicacion:hover {
      color: #941010; }
    #header #menu .menu__link--multimedia:hover {
      color: #8d1010; }
    #header #menu .menu__link--blog:hover {
      color: #b40606; }
    #header #menu .menu__link--logo:hover, #header #menu .menu__link--contacto:hover, #header #menu .menu__link--ubicacion:hover, #header #menu .menu__link--multimedia:hover, #header #menu .menu__link--blog:hover {
      transform: scale(1.2, 1.2); }
