/*--------------------------PUNTOS DE CORTE INDEX------------------------------------*/

@media(max-width:1822px){
    #header{
    grid-template-columns: 100%;
    padding-bottom: 15px;
    }
                
    .cabecera__header .header__titulo{
    font-size: 20px;
    text-align: center;
    }
            
    }
            
    
    @media(max-width:1430px){
    .platillo{
    flex-grow: 1;
    flex-basis: 16rem;
          
    }
    
    @keyframes tamaño {
        0%{flex-basis: 16rem;}50%{flex-basis: 17rem;}100%{ flex-basis: 16rem; border:3px solid yellow;}
        }
    
    
    }
    
    @media(max-width:1420px){
        
    #pie__pagina{
    grid-template-columns: 1fr 35%;
    }
        
    .bibliografia__info{
    font-size: 18px;
    }
            
    #multimedia{
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: 200px 200px;
    }
        
    }
        
    
    @media(max-width:1257px){
    .platillo h2{
    font-size: 25px;
    }
    
    }
    
    @media(max-width:1175px){
    .contenido_principal{
    flex-basis: 60%;
    }
        
    #lateral{
    flex-basis: 30%;
    }
        
    .platillo .images__platillos {
    height: 27vh;
    padding: 1rem;
    width: 85%;
    padding-left:30px;
    margin: 10px;
    }
        
    .platillo{
    margin-bottom: 47px;
    }
    
    @keyframes tamaño {
    0%{height: 35vh;}50%{height:36vh}100%{ height: 35vh; border:3px solid yellow;}
    }
        
    }
    
    @media(max-width:1000px){
    
    #principal{
    flex-direction: column;
    }
    
    #lateral{
    order: 1;
    margin-left: 5rem;
    width: 85%;
    }
     
    .contenido_principal{
    order: 2;
    flex-flow: column wrap;
    }
            
    .platillo .images__platillos {
    height: 25vh;
    width: 60vw;
    }
    
    .platillo{
    width: 98%;
    }
    
    }
    
    @media(max-width:915px){
    #menu .menu__item {
    font-size: 12px;
    }
    
    #lateral{
    width: 80%;
    }
    
    }
    
    @media(max-width:764px){
    #pie__pagina {
    grid-template-columns: 1fr;
    }
    
    .bibliografia__info{
    margin-left: 90px;
    }
    
    #multimedia {
    grid-template-columns: 60%;
    grid-template-rows: 200px;
    flex-wrap: 25px;
    padding-top: 25px;
    }
    
    #lateral{
    width: 75%;
    }
    }
    
    @media(max-width:546px){
    
    #menu .elementos__menu{
    grid-template-columns: 20% 20% 20% 20% 20%;
    }
    
    #menu .menu__item {
    font-size: 10px;
    }
    
    .bibliografia__info {
    font-size: 14px;
    }
    
    }
    
    