/*--------------------------PUNTOS DE CORTE INDEX------------------------------------*/

@media(max-width:1822px){

    #header{
    grid-template-columns: 100%;
   
    }

    #header .cabecera__header{
    padding: 5px;
    }

    #header #menu .elementos__menu{
    height: 92%;
    }
                
    .cabecera__header .header__titulo{
    font-size: 20px;
    text-align: center;
    }
            
}
/*--------------------------------------------------------------------------------------------- */    
@media(max-width:1430px){

    .platillo{
    flex-grow: 1;
    flex-basis: 16rem;
    }
    
   
    
    
}
/*--------------------------------------------------------------------------------------------- */  
@media(max-width:1420px){
        
    
        
    .bibliografia__info{
    font-size: 18px;
    }
            
    #multimedia{
    grid-template-columns: repeat(2, 40%);
    
    }

    .ilustracion img{
    height: 250px;
    }

    .ilustracion .video{
    height: 250px;
    }
        
}
/*--------------------------------------------------------------------------------------------- */   
@media(max-width:1257px){

    .platillo h2{
    font-size: 25px;
    }
    
    #restaurant .creador{
    width: 9vw;
    }
}
/*--------------------------------------------------------------------------------------------- */ 
@media(max-width:1175px){

    .contenido_principal{
    flex-basis: 60%;
    }
        
    #lateral{
    flex-basis: 30%;
    }
        
    #principal .platillo .images__platillos {
    width: 95%;
    }
        
    .platillo{
    margin-bottom: 47px;
    }
    
    #restaurant .contenido__blog p{
    font-size: 18px;
    }
        
    #restaurant .objetivos p{
    font-size: 18px;
    }
}
/*--------------------------------------------------------------------------------------------- */  
@media(max-width:1000px){
    
    #principal{
    flex-direction: column;
    }

    #principal .contenido_principal{
    margin-left: 85px;
    
    }

    .contenido_principal{
    order: 2;
    flex-flow: column wrap;
    }
    
    #lateral{
    order: 1;
    margin-left: 5rem;
    width: 85%;
    }
     
    
            
    .platillo .images__platillos {
    height: 25vh;
    width: 60vw;
    }
    
    .platillo{
    width: 98%;
    }

    #lateral #login a{
        margin-left: 3rem;
    }
    
    #restaurant .objetivos p{
    padding: 18px;
    }

    #restaurant .objetivos{
    grid-template-columns: 1fr
    }

    #restaurant .objetivos h2{
    font-size: 26px;
    }
}
/*--------------------------------------------------------------------------------------------- */
@media(max-width:915px){

    #menu .menu__item {
    font-size: 12px;
    }
    
    #lateral{
    width: 80%;
    }
    
    #pie__pagina{
    height: 150px;
    grid-template-columns:1fr 1fr 1fr;
    }

    #pie__pagina #social{
    justify-content: center;
    }
    
    #pie__pagina .bibliografia .bibliografia__info{
    font-size: 14px;
    }
    #pie__pagina .image__social{
    width: 4vw;
    }

    #restaurant .objetivos{
    padding: 10px;
    }

    #restaurant .contenido__blog p {
    font-size: 15px;
    }

    #restaurant .objetivos p {
        font-size: 15px;
      }

      #restaurant .creador {
        width: 12vw;
      }
 
}
/*--------------------------------------------------------------------------------------------- */
@media(max-width:764px){

    #principal .platillo h2 {
        font-size: 22px;
    }

    #principal .contenido_principal{
    margin-left: 80px;
    }
    
    #multimedia {
    grid-template-columns: 60%;
    flex-wrap: 25px;
    padding-top: 25px;
    }
    
    #lateral{
    width: 75%;
    }

    #lateral #login a{
        margin-left: 2rem;
    }

    #pie__pagina .bibliografia .bibliografia__info {
        font-size: 12px;
      }

    

}
/*--------------------------------------------------------------------------------------------- */
    @media(max-width:722px){

        #principal .platillo .images__platillos {
        width: 97%;
        }

        #principal .contenido_principal {
        margin-left: 70px;
        }
        
        #restaurant .creador {
            width: 15vw;
          }

}
/*--------------------------------------------------------------------------------------------- */
@media(max-width:691px){
    #pie__pagina{  grid-template-columns: 1fr;

  }

  #pie__pagina .image__social {
    height: 3vh;
  }

  #pie__pagina #social {
    justify-content: center;
}

#pie__pagina .bibliografia .bibliografia__info{
text-align: center;
}

#pie__pagina .image__social--contacto{
height: 8vh;
padding: 27px;
}
}
/*--------------------------------------------------------------------------------------------- */ 
    @media(max-width:546px){
    
    #menu .elementos__menu{
    grid-template-columns: 20% 20% 20% 20% 20%;
    }
    
    #menu .menu__item {
    font-size: 10px;
    }
    
    
    
}
    
    