/*-------------------------------------------BLOG------------------------------------*/

#restaurant{
  display: flex;
  width: 100%;
  height:800px;

  
  
.imagen_creador{
display: flex;
height:15vh;
width: 100%;
justify-content: center;

}

.creador{
padding: 5px 0px 5px 5px;
border-radius: 20px;
height: 10vh;
width: 6vw;
}







}
    
