

@mixin estiloLetra($style, $weight, $size) {

  font-style: $style;
  font-weight: $weight;
  font-size: $size;
}

#restaurant{
 
  width: 100%;
  height:800px;

  
  
.imagen_creador{
  display: flex;
  height:12vh;
  width: 100%;
  justify-content: center;
}

.creador{
  padding: 5px 0px 5px 5px;
  height: 10vh;
  width: 6vw;
}

.contenido__blog{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding-top: 1vh;


h2{
  text-align: center;
  @include estiloLetra(italic,900px,35px);
}

p{
  @include estiloLetra(italic,bold,23px);
  color: white;
  width: 95%;
  padding: 15px;
  padding-left:2vw ;
}

}

.objetivos{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  padding: 20px;
  margin-top: 20px;
  margin-left: 1vw;
  justify-content: space-between;
p{
  @include estiloLetra(italic,bold,23px);
  color: white;

}

h2{
  text-align: center;
  @include estiloLetra(italic,900px,35px);
  
}


}

    
}