/*-------------------------------------------BLOG------------------------------------*/

#restaurant{

    width: 100%;
    height:800px;
    background-color: azure;
    margin: 20px;

}
    
.restaurant__nombre{

    font-size: 30px;
    text-align: center;

}
    
.restaurant__local{

    img{

    width: 600px;
    height:400px;
    padding:10px;
    padding-left: 35%;

    }
}

.restaurant__historia {

    height:400px;
    width: 100%;
    font-family:Verdana,Tahoma, sans-serif;
    text-indent: 5px;
    
}