/*------VARIABLES-------*/
$rojo_h2:rgb(228, 33, 33);


#principal{
display: flex;
justify-content: space-between;
padding-top: 20px;
padding-bottom: 20px;

.contenido_principal{
display: flex;
flex-flow: row wrap;
justify-content: space-between;
width: 80%;
flex-basis: 70%;
margin-left: 40px;
}

.platillo{
flex-grow: 1;
flex-basis: 12rem;
height: 35vh;
border: 2px solid orangered;
margin: 2rem;
box-shadow: 1px 1px 2px solid #ddd;
background: white;
cursor: pointer;
transition: all 600ms;

&:hover{
background:black;
animation-name: tamaño;
animation-duration: 1.5s;
animation-timing-function: linear;
}

@keyframes tamaño{
0%{flex-basis: 12rem;}50%{flex-basis: 13rem;}100%{ flex-basis: 12rem; border:3px solid yellow;}
}
      

h2{
font-size: 24px;
color: $rojo_h2;
text-shadow: 1px 1px 3px black;
text-align: center;
height: 7vh;
transition: all 300ms;

&:hover{
color: orange;
}

}

.images__platillos{
width: 95%;
height: 20vh;
transition: all 300ms;
padding: 6px;
}

}
      

}
    