
#pie__pagina{

  display: grid;
  grid-template-columns: 30% 40% 25%;
  align-items: center;
  justify-content: start;
  height: 120px;
  border-top: 1px solid rgba(225, 225, 226, 0.8) ;
  background:$naranja-blanco;

.bibliografia{

  text-align: left;
  margin-right: 20px;

.bibliografia__info{

  font-family: Helvetica;
  font-style: italic;
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
  margin-left: 20px;
  color: black;
  text-shadow: 1px 1px 0px #ccc;
  text-transform: uppercase;
  text-align: left;


}

}


#social{
  display: flex;
  flex-direction: row;
  height: 10vh
}
 
.image__social{
  height: 4vh;
  width: 2vw;
  padding: 2rem;
 
 &:hover{
  transform: scale(1.2,1.2);
}

}
 
.image__social--contacto{
  height: 10vh;
  width: 90px;
  padding: 27px;

&:hover{
  transform: scale(1.2,1.2);
}

}

}




