$borde-g:#393d3f;
$sombra-box:rgba(0,0,0,0.3);
$color-combinable:#ccc;

/*---------------------------------------BARRA LATERAL----------------------------*/

#lateral {

  display: flex;
  flex-basis: 25%;
  margin:20px;
  width: 100%;
  height: 65vh;
  flex-flow: column wrap;
  font-family:Arial, Helvetica, sans-serif;
  background-color: $color-combinable;
  margin-right: 2rem;

.form__title{

 width: auto;
 height:3rem;
 background-color: $color-combinable;
 box-shadow: 0px 1px 0px #393d3f,1px 2px 0px $borde-g,2px 3px 0px $borde-g, 3px 4px 0px $borde-g;
 font-size: 25px;
 font-family: 'Bebas Neue';
 font-weight: normal;
 letter-spacing: 2px;
 padding-left:  15px;
 margin-top: 30px;
 margin-bottom: 15px;
 text-align: center;

h3{

 margin-top: 10px;

}

}

.busqueda{

 width:98%;
 height: 30px;
 margin: 10px auto;
 background-color: white;
 border:1px solid $color-combinable;
 border-radius: 5px;	
 box-shadow: 1px 1px 4px $color-combinable inset;

}  

input[type="text"]{

 width:98%;
 height:30px;
 border:none;
 padding-left: 5px;
 border-radius: 5px;
 background-color: transparent;
 color: $color-combinable; 	
 transition: all 300ms;

&:focus{

 color: #555; 	

}

}

input[type="submit"]{

 height: 30px;
 cursor:pointer;
 font-size: 16px;
 background-color: transparent;
 border:none; 	
 border-left: 1px solid $color-combinable;
 color:#555;
 padding-left:6px;

}

.aside-box{

 display:flex;
 flex-direction: column;
 width:85%;
 height: 35vh;
 margin:0px auto;
 margin-top: 20px;
 padding-top:2px;
 background:#eee; 
 border:1px solid black; 
 box-shadow:0px 0px 1px $sombra-box, 0px 3px 7px $sombra-box,0px 1px white inset,0px -3px 2px $sombra-box inset ;	

}


#login{

a{

 display: flex;
 flex-flow: column wrap;	
 align-items: center;
 font-size: 15px;
 text-decoration: none;
 margin-left: 1rem;
 color: #555;
 margin-top: 10px;
 width: 84%;

&:hover{

 text-decoration: underline;
 color: red;	

}

}

input[type="email"],
input[type="password"]{

 display: flex;
 margin: 0px auto;
 width: 82%;
 height: 30px;
 margin-top: 20px;
 border:1px solid $color-combinable;
 box-shadow: 1px 1px 1px $color-combinable inset;
 border-radius: 5px;
 padding-left: 30px;
 color:gray;

&:focus{
  
 color: #555;
 box-shadow: 1px 1px 1px gray inset;	
    
}

}

input[type="reset"],
input[type="submit"]{	
 display: flex;
 flex-flow: row wrap;
 justify-content: center;
 align-items: center;
 text-align: center;
 width: 100%;
 height:35px;
 margin-top: 20px;
 color: white;
 background:linear-gradient(to bottom,#eee 0%, orangered 100%);
 border:1px solid orangered;
 border-radius: 0px;
 cursor:pointer;
 font-size: 15px;
 font-family:Arial, Helvetica, sans-serif;
 font-weight: lighter;
 margin-bottom: 20px;
 transition: all 300ms;

&:hover{
box-shadow: 0px 0px 3px gray;
}

}

}



}




 
 
 
 

 