/*-------------------------------------------UBICACION------------------------------------*/

.ubicacion{
    width: 100%;
    height: 600px;
    display: block;
    margin-left: 8%;

    iframe{
        width: 40%;
        height: 98%;
        display:inline-block;
        border-radius: 15px;
        }

    .establecimiento{
        width: 40%;
        height: 98%;
        display:inline-block;
        border-radius: 15px;
        margin-left: 25px; 
        }



}


.info__local {
    p{
    color: #444;
    width: 100%;
    height: 100px;
    background-color: white;
    font-size: 40px;
    font-family: Impact,'Arial Narrow Bold', sans-serif;
    }
       
    }

