
.container__ubicacion{
  padding-top: 15px;

.card-body{
  background-color: black;
}

.card-body{
  text-align: center;

.info__local{
  color: orangered;
}

.card-title{
  color: white;
}

}



}



