/*--------------------------------------VIDEOS Y FOTOS--------------------------------*/

$altura-en-multimedia:200px;
$borde-multimedia: 4px solid white;


#multimedia{

    display: grid;
    grid-template-columns: repeat(4, 22%);
    grid-gap: 10px;
    margin-top: 1rem;
    align-items:start;
    justify-content: center;
    
}

.ilustracion{

    margin-bottom: 25px;
    margin-right: 20px;
    
img{

    width: 100%;
    height: $altura-en-multimedia;
    border: $borde-multimedia;

    &:hover{
    cursor: pointer;
    border:4px solid orangered;
    }

   }


.video{

width: 100%;
height: $altura-en-multimedia;
border: $borde-multimedia;
    
&:hover{
border:4px solid orangered;
}

    }

}