/*--------------------------------------VIDEOS Y FOTOS--------------------------------*/

#multimedia{

    display: grid;
    grid-template-columns: repeat(4, 22%);
    grid-gap: 10px;
    margin-top: 1rem;
    align-items:start;
    justify-content: center;
    
}

.ilustracion{

    margin-bottom: 25px;
    margin-right: 20px;

img{

    width: 100%;
    height: 197px;

   }


.video{

    width: 100%;
    height: 197px;

    }

}