@import "_contenidop-index";
@import "_lateral";
@import "_footer";
@import"_variables";


*{
margin: 0;
padding: 0;
}


body{
background-image: url("../images/carne4.jpg");
background-attachment: fixed;
background-size: 100%;
}
    
#contenedor{
width: 90%;
height: auto;
margin: 0px auto;
border: 1px solid rgba(225, 225, 226, 0.8);
box-shadow: 0px 0px 10px #ccc;
margin-top:40px;
margin-bottom: 40px;
min-height: 600px;
}

#header{
display: grid;
grid-template-columns: 65% 30%;
align-items: center;
width: 100%;
height: 12vh;
border-bottom:1px solid rgba(225, 225, 226, 0.8) ;
background-color: black;
font-family: 'Bebas Neue';

.cabecera__header{

font-family: Helvetica;
font-style: italic;
font-weight: 900px;
font-size: 35px;
padding: 15px;
margin-left: 20px;
color: #eee;
text-shadow: 1px 1px 0px #ccc;
text-transform: uppercase;
transition: all 300ms;

.header__titulo{
font-family: Helvetica;
font-style: italic;
font-weight: 900px;
font-size: 35px;
transition: all 300ms;
display: block;
    
&:hover{
transition: all 300ms;
color: orangered;
}
    
}

}

#menu{
text-align:center;
width: 100%;
height: 100%;

.elementos__menu{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
list-style: none;
height: 100%;
align-items: center;
justify-content: center;
}

/*INICIO MAPA*/
$paginas:(
contacto=rgb(216, 47, 47),
ubicacion=rgb(182, 20, 20),
multimedia=rgba(126, 19, 19, 0.459),
blog=rgb(184, 72, 72)

);

@each $page, $color in $paginas {
    
}



/*FIN DEL MAPA*/

.menu__link{

color: white;
display: block;
text-decoration: none;
transition: all 200ms;
font-size: 16px;
padding: 10px;

img{
width: 45px;
height: 45px;
border-radius: 1250px;
}


&:hover{
color: red;
transform: scale(1.2,1.2); 
}

}


}
    
}

